.message {
  background-color: #f2eff7;
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

p {
  font-weight: 600;
  font-size: large;
}
