#cases {
  background: url("/public/images/ceilingPhoto.webp"), var(--tertiary);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#cases h1 {
  color: white;
}

.whiteText,
.whiteText ul,
.whiteText ul li {
  color: white;
  margin: 0 clamp(1.5rem, 5%, 4rem);
  max-width: 1400px;
  font-size: 1.1rem;
}

.whiteText ul {
  margin: 0.75lh 0;
}

.whiteText ul li {
  line-height: 200%;
}

.case-pile {
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.caseCard {
  min-width: 250px;
  width: 90%;
  gap: 0.1lh;
  border-radius: 15px;
  padding: 1rem 0.5rem 0rem 0.5rem;
  background-color: var(--main);
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
  font-size: clamp(0.5rem, 2.75dvw, 1.2rem);
  margin: clamp(1rem, 5%, 2rem);
  margin-top: 0;

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    margin: clamp(2rem, 10%, 5rem);
    margin-top: 0;
  }
}

.caseCard * {
  font-family: "Inter", sans-serif;
}

.container .illustrationCase {
  margin-bottom: 0.5lh;
}

.textCase div {
  margin: 0rem 1rem;
}

@media (min-width: 1200px) {
  .up {
    align-items: start;
  }
}

.illustrationCase {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.illustrationCase img {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: inset 0px 4px 4px #7d839285;

  @media (max-width: 1200px) {
    max-width: 300px;
  }
}

.illustrationCase h3 {
  background-color: var(--main);
  color: #372a1a;
  min-width: 120px;
  max-width: 170px;
  padding: 0.5rem 1rem;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  font-size: large;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: -5px;
  box-shadow: 0px 4px 4px #55596385;
}

.text-preview-container {
  width: 100%;
}

table {
  border-collapse: collapse;
}

td {
  font-weight: 300;
}

.penalty-sum {
  min-width: 10rem;
  width: 20%;
  text-align: center;
  @media (max-width: 800px) {
    text-align: right;
    width: 100%;
  }
}

.penalty-fine {
  text-align: right;
  width: 100%;
}

.victim-td {
  width: 10%;
  text-align: left;
}

.tr-divider {
  border-bottom: 1px solid #d4d6d7;
}

.case-result {
  background-color: hsla(218, 27%, 92%, 0.5);
  padding: 0.5lh 2rem;
  width: calc(100% + 0.5rem);
  border-radius: 0 0 15px 15px;

  @media (min-width: 1200px) {
    width: calc(100% + 3rem);
  }
}

.textCase p,
td pre,
.textCase li {
  color: #524747;
  font-weight: 300;
  line-height: 120%;
}

.textCase h3 {
  color: #38332f;
  font-weight: 500;
}

.textCase .container .col {
  width: 100%;

  @media (min-width: 1200px) {
    display: flex;
    flex-grow: 1 2;
  }
}

#cases h3 {
  align-self: flex-start;
}

.no-marker::marker {
  content: "";
}

.buttons-container {
  gap: 0.5rem;
  transform: translate(-75%);

  @media (max-width: 1200px) {
    transform: translate(-0%);
  }
}

.case-num-btn {
  background-color: var(--main);
  border: none;
  border-radius: 5px 5px 0px 0px;
  padding: 1rem;
  height: 3rem;
  color: var(--secondary);
  text-shadow: none;
  transition: 0.2s ease-in-out;
  font-size: larger;
}

.case-num-btn:hover {
  margin-bottom: -1.5rem;
  transition: 0.2s ease-in-out;
}
