.caseName {
    background-color: var(--main);
    width: 130px;
    padding: 5px;
    border: 1px solid red;
}

.learnMoreCases {
    background-color:  transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: medium;
    text-decoration: underline;
}

.caseCard{
    width: 75vw;
}

.illustrationCase img {
    width: 50%;
    
}