.caseCard {
  gap: 1lh;
  border-radius: 15px;
  padding: 1rem 1rem 0rem 1rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
  margin: 0 1rem 1rem 1rem;
  font-size: clamp(0.75rem, 1%, 2rem);

  @media (min-width: 1200px) {
    max-width: 1500px;
    padding: 2rem 2rem 0rem 2rem;
  }
}

.caseCard * {
  font-family: "Inter", sans-serif;
}

.container .illustrationCase {
  margin-bottom: 1lh;
}

.textCase div {
  margin: 0rem 1rem;
}

.illustrationCase {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.illustrationCase img {
  width: 100%;
  max-width: 750px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: inset 0px 4px 4px #7d839285;

  @media (max-width: 1200px) {
    width: 50%;
  }
}

.illustrationCase h3 {
  background-color: var(--main);
  color: #372a1a;
  min-width: 120px;
  max-width: 170px;
  padding: 0.5rem 1rem;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  font-size: x-large;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 0;
  box-shadow: 0px 4px 4px #55596385;
}

.text-preview-container {
  width: 50%;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0.1rem;
  font-weight: 300;
}

.penalty-sum {
  min-width: 10rem;
}

.penalty-fine {
  text-align: right;
  width: 100%;
}

.victim-td {
  width: 10%;
  text-align: left;
}

.tr-divider {
  border-bottom: 1px solid #d4d6d7;
}

.case-result {
  background-color: hsla(218, 27%, 92%, 0.5);
  padding: 1lh 2rem;
  width: calc(100% + 2rem);
  border-radius: 0 0 15px 15px;

  @media (min-width: 1200px) {
    width: calc(100% + 4rem);
  }
}

.textCase p,
td pre,
.textCase li {
  color: #524747;
  font-weight: 300;
  line-height: 120%;
}

.textCase h3 {
  color: #38332f;
  font-weight: 500;
}

.textCase .container .col {
  width: 100%;

  @media (min-width: 1200px) {
    display: flex;
    flex-grow: 1 2;
  }
}

#cases h3 {
  align-self: flex-start;
}

.no-marker::marker {
  content: "";
}

.buttons-container {
  margin-left: -70%;
  gap: 0.1rem;
}

.case-num-btn {
  background: #fff;
  border: none;
  border-radius: 5px 5px 0px 0px;
  padding: 0.5rem;
  height: 2rem;
  color: var(--secondary);
  text-shadow: none;
  transition: 0.2s ease-in-out;
}

.case-num-btn:hover {
  margin-bottom: -1rem;
  transition: 0.2s ease-in-out;
}
