.caseCard{
    margin-bottom: 2lh;
    gap: 2rem;
}

.illustrationCase {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.illustrationCase img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 4px 4px #7d839285;
}

.illustrationCase h4 {
    background-color: var(--main);
    padding: 15px 70px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 0;
    box-shadow: 0px 4px 4px #55596385;
}

.learnMoreCases {
    background-color:  transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: medium;
    text-decoration: underline;
}

