#about {
  margin-right: 0%;
  margin-left: 0%;
  width: 100dvw;
  align-items: center;
  justify-content: center;
}

.bg-and-info {
  overflow: hidden;
  width: 100dvw;
}

.about-info-container {
  background-color: var(--main);
  justify-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: clamp(2rem, 2%, 4rem) 3rem;

  @media (max-width: 1200px) {
    width: 100dvw;
  }
}

.about-info-container h1 {
  z-index: 0;
}

.about-info-container h1::before {
  z-index: -1;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  grid-row-gap: 0.5lh;

  @media (max-width: 1200px) {
    width: 100%;
    font-size: 0.9rem;
    max-width: 400px;
  }
}

.advantage {
  gap: 1rem;
}

.advantage p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.to-the-left {
  align-self: self-start;
}

.to-the-right {
  align-self: self-end;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 2 / 3 / 3;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 2 / 5 / 3;
}
.div5 {
  grid-area: 5 / 1 / 6 / 2;
}
/*
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: smoothSlide 120s infinite linear;
  transform: translateX(100%);
  filter: grayscale(100%);
  animation-delay: -20s;
}
.slide-1 {
  background-image: url("/public/images/LiderPravaPhotos/group-photo-1.webp");
  animation-delay: -40s;
}

.slide-2 {
  background-image: url("/public/images/LiderPravaPhotos/group-photo-2.webp");
  animation-delay: -20s;
}

.slide-3 {
  background-image: url("/public/images/LiderPravaPhotos/group-photo-3.webp");
  animation-delay: 0s;
}

@keyframes smoothSlide {
  0% {
    transform: translateX(100%);
  }
  33.33% {
    transform: translateX(0);
  }
  66.66% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
  */

.carousel {
  height: auto;
  width: 100dvw;
  max-width: 1500px;
  overflow: hidden;
}

.carousel-inside {
  animation: spin 100s infinite linear;
  height: 100dvh;
  width: fit-content;
  padding-right: -1px;
}

.slide {
  flex: 0 0 150dvh;
  height: 150dvh;
  min-height: 1200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  overflow: hidden;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.slide-1 {
  background-image: url("/public/images/LiderPravaPhotos/group-photo-1.webp");
}

.slide-2 {
  background-image: url("/public/images/LiderPravaPhotos/group-photo-2.webp");
}

.slide-3 {
  background-image: url("/public/images/LiderPravaPhotos/group-photo-3.webp");
}

.about-jurists-container {
  background: url("/public/images/jurists-backs.jpg"), #2b2424;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: fit-content;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}

.about-jurists-container h2,
.about-jurists-container p:not(.staffCard p) {
  color: var(--main);
  margin: clamp(1rem, 5%, 1.5rem);
  margin-bottom: 0;
}
