

.chevronPrev {
    transform: rotate(-90deg) scale(3);
}

.chevronNext {
    transform: rotate(90deg) scale(3);
}

.arrowsButton {
    background-color: none;
    border: none;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    transition-duration: 0.3s;
    box-shadow: 0px 4px 4px #7d839285;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrowsButton:hover {
    background-color: rgba(105, 165, 165, 0.591);
    transition-duration: 0.3s;
    cursor: pointer;
    transform: scale(1.1);
}

.arrowsButton:active {
  background-color: var(--secondary);
  transform: scale(0.95);
}

/*Animation*/


.slide-right-out {
  -webkit-animation: slide-right-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-right-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-left-out {
  -webkit-animation: slide-left-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-left-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-23%);
    transform: translateX(-23%);
  }
}

@keyframes slide-left-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-23%);
    transform: translateX(-23%);
  }
}

@-webkit-keyframes slide-right-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(23%);
    transform: translateX(23%);
  }
}

@keyframes slide-right-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(23%);
    transform: translateX(23%);
  }
}

.slide-right-in {
  -webkit-animation: slide-right-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-right-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-left-in {
  -webkit-animation: slide-left-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-left-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left-in {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left-in {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-right-in {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right-in {
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */


.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
