.slider {
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.chevronContainer {
  gap: 5vw;
  align-items: center;
  margin: 0.5lh 0;
}

.staffCard {
  padding: 1rem;
  background-color: var(--main);
  border-radius: 5px;
  position: relative;
  min-width: 350px;
  width: 10%;

  @media (max-width: 1200px) {
    width: 90%;
    max-width: 400px;
  }
}

.staffCard p,
.staffCard h4 {
  background-color: var(--main);
  padding: 1rem;
  width: 100%;
  position: inherit;

  @media (min-width: 1200px) {
    width: 105%;
  }
}

.staffCard img {
  object-fit: cover;
  width: 100%;
  max-width: 300px;

  border-radius: 2%;
  margin-bottom: 0.5lh;

  @media (max-width: 1200px) {
    max-width: 300px;
  }
}

.staffCard p {
  padding: 1rem 1.5rem;
  margin-top: -60px;
}

.staffCard h4 {
  top: -3.5lh;
}

.staffCard p::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-top: 1.5px solid rgb(169, 167, 167);
  border-left: 1.5px solid rgb(169, 167, 167);
  display: inline-block;
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
}

.staffCard p::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-bottom: 1.5px solid rgb(169, 167, 167);
  border-right: 1.5px solid rgb(169, 167, 167);
  display: inline-block;
  position: absolute;
  bottom: 0.75rem;
  right: 0.5rem;
}
