.carousel {
    overflow-x: scroll;
}

.staffCard {
    padding: 1rem;
    background-color: var(--main);
    border-radius: 5px;
    gap: 1rem;
    position: relative;
    z-index: -10;
}

.staffCard p, .staffCard h4 {
    background-color: var(--main);
    padding: 1rem;
    width: 100%;
    position: inherit;
    top: -3.5lh;
}

.staffCard p, .staffCard h4, .staffCard img {
    box-shadow: 0px 4px 4px #7d839285;
}

.staffCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.staffCard p{
    padding: 1rem 1.5rem;
}

.staffCard p::before {
    content: "";
    width: 2rem;
    height: 2rem;
    border-top: 1.5px solid rgb(169, 167, 167);
    border-left: 1.5px solid rgb(169, 167, 167);
    display: inline-block;
    position: absolute;
    top: 0.75rem;
    left: 1rem;
}

.staffCard p::after {
    content: "";
    width: 2rem;
    height: 2rem;
    border-bottom: 1.5px solid rgb(169, 167, 167);
    border-right: 1.5px solid rgb(169, 167, 167);
    display: inline-block;
    position: absolute;
    bottom: 0.75rem;
    right: 1rem;
}

.staffCard h4::before {
    content: "";
    width: 18%;
    height: 1px;
    border-top: 1.5px solid rgb(169, 167, 167);
    display: inline-block;
    position: absolute;
    top: 1.2lh;
    left: 20%;

    @media (max-width: 650px){
        left: 5%;
        width: 10%;
    }
}

.staffCard h4::after {
    content: "";
    width: 18%;
    height: 1px;
    border-top: 1.5px solid rgb(169, 167, 167);
    display: inline-block;
    position: absolute;
    top: 1.2lh;
    right: 20%;

    @media (max-width: 650px){
        right: 5%;
        width: 10%;
    }
}