
.listOfFees {
    gap: 35px;
    margin-top: 1rem;

    @media (min-width: 650px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 35px;
      grid-row-gap: 35px;
    }
    @media (min-width: 1280px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 35px;
      grid-row-gap: 35px;
    }
}

.card {
    background-color: var(--main);
    width: 30vw;
    min-width: 340px;
    height: auto;
    min-height: 180px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.06);
    overflow-wrap: anywhere;
}

.card-front {
    gap: 15px;
}

.learnMoreFees {    
    color: #372A1A;
    background-color: #f3f3de;
    font-size: large;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 0px 4px 5px rgb(0, 0, 0, 0.25);

    @media (min-width: 650px) {
        padding: 10px 25px;
        font-size: larger;
        font-weight: 400;
    }
}


.learnMoreFees:hover{
    background-color: #C0B4A4;
    color: #FFFFFF;
    cursor: pointer;
}

.learnMoreFees:active {
    background-color: #918080;
    box-shadow: none;
}

.description {
    display: flex;
    align-items: flex-start;
}

pre {
    text-align: left;
    white-space: pre-wrap;
}

.closeCross {
    background-color: transparent; /* Makes the background fully transparent */
    border: none; /* Removes the default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font styles from its parent element */
    color: inherit; /* Inherits text color from its parent element */
    cursor: pointer; /* Ensures the cursor changes to a pointer on hover */
    outline: none; /* Removes the outline that appears on focus in some browsers */
    appearance: none; /* Resets platform-native styling for UI widgets */
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none;
}

.card:not(.description) .card-description {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}