.listOfFees {
  gap: 1rem;
  margin-top: 1rem;
}

.card-wrapper {
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--secondary);
}

.card {
  width: 80vw;
  min-width: 340px;
  height: auto;
  min-height: 50px;
  padding: 0.75rem 2rem;
  backdrop-filter: brightness(40%) contrast(90%);
  border-radius: 5px;
}

.card:hover,
button:hover {
  cursor: pointer;
}

.card-front {
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.card h3,
button,
.description li {
  color: white;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: flex-start;
}

.learnMoreFees {
  border: none;
  background: none;
  font-size: larger;
}

/*.description {
  text-align: left;
  width: 100%;
}*/

.description {
  margin-right: auto;
  overflow: hidden;
  transition: all 0.75s ease-in-out;
  max-height: 0;
  opacity: 0;
}

.description.show {
  max-height: 500px; /* или любое другое достаточно большое значение */
  opacity: 1;
}

.description.hide {
  max-height: 0;
  opacity: 0;
}

.slide-down {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-up {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
