.cns-area {
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 1000;
  overflow: auto;
}

.consent {
  min-width: 250px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
  bottom: 1lh;
  background-color: #2c2f3ceb;
  border-radius: 1%;
  padding: 25px 30px;
  margin: 0 1rem;

  @media (min-width: 650px) {
    flex-direction: row;
  }
}

.consent-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  text-align: justify;

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.poltext {
  color: #f2f2f2;
}

.consent-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

#acceptButton,
#privpolicy {
  cursor: pointer;
  min-width: 125px;
  padding: 5px 20px;
  border-radius: 5px;
  position: relative;
  border: none;

  font-family: "Inter", sans-serif;
  text-shadow: none;
}

#acceptButton {
  background-color: rgb(232, 232, 245);
  color: rgb(23, 22, 22);
  font-weight: 600;
}

#privpolicy {
  background-color: rgb(14, 11, 11);
  color: white;
  font-weight: 300;
}

.cns-cross {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 7px;
  right: 10px;
}
