header {
  background-color: var(--secondary);
  justify-content: space-around;
  padding: 1rem 2.5rem;
  height: 11dvh;
  position: sticky;
}

header nav hr {
  text-align: center;
  margin: 1rem 1rem;
  height: 2px;
  width: clamp(3rem, calc(2rem + 5vw), 3.5rem);
  border: none;
  border-bottom: 1px solid #9a9494;

  @media (min-width: 1200px) {
    margin: 0 2vw;
    height: clamp(1lh, 7vh, 3.5rem);
    width: 2px;
    border-left: 1px solid #9a9494;
  }

  @media (min-width: 1700px) {
    margin: 0 3vw;
  }
}

header nav div a {
  color: #d1d8e8;
  text-decoration: none;
  font-size: 1rem;

  @media (min-width: 1700px) {
    transform: scale(1);
  }
}

header a,
.hours-and-phone-container p,
.hours-and-phone-container p a {
  color: #d1d8e8;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 0.2rem solid royalblue;
  margin-bottom: -0.2rem;
  color: royalblue;
  transition: 0.1s ease-in-out;
}

.burger-container {
  width: 100%;
}

button[name="burger-menu"] {
  background-color: transparent;
  color: white;
  font-size: xx-large;
  border: none;
  cursor: pointer;
}

.hours-and-phone-container p,
.hours-and-phone-container p a {
  font-size: clamp(1rem, 3vh, 24px);
}

.hours-and-phone-container p a:hover {
  transition: color 0.15s ease-in;
  color: royalblue;
}

.mobile-header {
  width: fit-content;
  border-radius: 5px;
  margin: 1rem;
  z-index: 500;
  padding: 0.25rem 1rem;
  position: fixed;
  top: 1dvh;
  right: 1dvh;
}

.menu-dialog:not([open]) {
  display: none !important;
}

.menu-dialog[open] {
  position: fixed;
  justify-content: center;
  height: 100dvh;
  max-height: none;
  top: 0;
  left: 0;
  gap: 1rem;
  background-color: var(--secondary);
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.3s ease-in-out;
  padding: 0 1rem;
  z-index: 999;
}

.menu-dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

@keyframes slideIn {
  /*ВЖУХ слева*/
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  /*ВЖУХ вправо*/
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.visibleBtn {
  /* display: flex; */
  top: 0;
  transition: top 0.4s ease-out;
}

.hiddenBtn {
  /* display: none; */
  top: -200px;
  transition: top 1.5s ease-out;
}
