header {
  background-color: var(--secondary);
  justify-content: space-between;
  padding: 1rem 4rem;
  min-height: 3lh;
  max-height: 3.5lh;

  @media (max-width: 650px){
    width: 40vw;
    min-width: 6rem;
    max-width: 7rem;
  }
}

header nav hr {
  text-align: center;
  
  margin: 0 1rem;
  height: 2px;
  width: 4rem;
  border: none;
  border-bottom: 1px solid #9a9494;

  @media (min-width: 650px){
    transform: scale(2);
    margin: 0 2vw;
    height: 1lh;
    width: 2px;
    border: none;
    border-left: 1px solid #9a9494;
  }

  @media (min-width: 1700px){
    margin: 0 3vw;
  }
}

header nav div a {
  color: #d1d8e8;
  text-decoration: none;
  font-size: x-large;

   @media (min-width: 1700px){
    transform: scale(1);
   }
}

header a, .hours-and-phone-container p {
  color: #d1d8e8;
}

header a {
  font-size: xx-large;
}

header nav div a:hover {
  border-bottom: 0.2rem solid royalblue;
  margin-bottom: -0.2rem;
}
