header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 75px;
  max-width: 150px;
  background-color: var(--main);
  border-right: 2px solid #C2BABA;
  border-bottom: 0px;
  position: sticky;
  top:0;
  left: 0;
}

nav {
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #282E3C;
    padding: 20px;
}
        
a {
  font-weight: 500;
  text-decoration: none;
  color: #282E3C;
  font-family: 'Manrope';
  margin-right: 30px;
  margin-left: 10px;
  cursor: pointer;
}

a:visited {
  color: #282E3C;
}

@media only screen and (min-width: 650px) {
  header,
  nav {
    flex-direction: row;
    width: auto;
  }

  header {
    justify-content: space-around;
    width: 10wv;
    border-bottom: 2px solid #C2BABA;
    border-right: 0px;
    height: 100px;
    max-width: 100vw;
  }
}

.navdiv {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  height: 15hv;
  
  @media (max-width: 650px) {
      flex-direction: column;
  }
}

.navdiv:hover {
  background-color: #CDD6E9;
  opacity: 0.25;
}

.phoneAndWorkingHours{
  @media (max-width: 650px) {
      display: none;
  }
}

.phoneAndWorkingHours > p {
  font-weight: 500;
}