header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 75px;
  max-width: 150px;
  background-color: var(--secondary);
  border-right: 2px solid #d1d8e8;
  border-bottom: 0px;
  position: absolute;
  top: 0;
  transition: 0.3s;

    @media only screen and (min-width: 650px) {
      position: sticky;
      opacity: 0.9;
    }
}

header nav {
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #282E3C;
    padding: 20px;
}
   
a {
  font-weight: 500;
  text-decoration: none;
  color: #d1d8e8;
  font-family: 'Manrope';
  margin-right: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.navhr {
  height: 2px;
  width: 50px;
  border: none;
  border-bottom: 1px solid #9a9494;
  text-align: center;
}

@media only screen and (min-width: 650px) {
  header,
  header nav {
    flex-direction: row;
    width: auto;
  }

  header {
    justify-content: space-around;
    width: 10wv;
    border-bottom: 2px solid #d1d8e8;
    border-right: 0px;
    height: 100px;
    max-width: 100vw;
  }

  .navhr {
    height: 7vh;
    width: 2px;
    border: none;
    border-left: 1px solid #766D6D;
    text-align: center;
  }
}

.navdiv {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  padding: 0px;
  height: 7vh;
  
  @media (max-width: 650px) {
      flex-direction: column;
  }
}

.navdiv:hover {
    border-bottom: 4px solid #7ba2f77b;
    margin-bottom: -4px;
}

.navdiv a {
  margin-right: 1rem;
}

.phoneAndWorkingHours{
  @media (max-width: 650px) {
      display: none;
  }
}

.phoneAndWorkingHours p {
  font-weight: 500;
  color: #d1d8e8;
}

.headerShort {
  transition: 0.3s;
  @media (max-width: 650px) {
    max-height: 10vh;
    padding: 5px;
  }
}