:root {
  --main: #eeebd9;
  --secondary: #453738;
  --tertiary: #282427;
  --button: #8a6966;
  --header-marker: hsla(10, 53%, 54%, 0.3);
  font-size: 18px;

  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

* {
  color: #282e3c;
  font-family: "Manrope", sans-serif;
}

*,
*::before,
*,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
}

html,
body {
  scroll-behavior: smooth;
  min-width: 350px;
  box-sizing: border-box;
  width: 100dvw;
  overflow-x: hidden;
}

body {
  background-color: var(--main);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body p {
  font-weight: 400;
  text-align: justify;
}

section {
  margin: 0 5%;
}

h1 {
  font-family: "Playfair Display", serif;
  align-self: flex-start;
  margin-left: 5%;
}

h1::before {
  background-color: var(--header-marker);
  height: 1rem;
  width: 100%;
  content: "";
  display: block;
  opacity: 50%;
  position: relative;
  z-index: -1;
  top: 2.75rem;
  left: -1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.reverse-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (min-width: 1200px) {
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden {
  display: none;
}

.buttonGen {
  background-color: var(--button);
  padding: 8px 20px 8px 20px;
  color: #ffffff;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px #5054649f;
  transition: 0.3s;
  font-weight: 500;
  text-transform: uppercase;

  @media only screen and (min-width: 650px) {
    width: 20vw;
  }
}

.buttonGen:hover {
  background-color: #456d8c;
}

.buttonGen:active {
  box-shadow: none;
  background-color: #324a5f;
}

.asterisk {
  color: red;
}

.additionalPageshr {
  border: none;
  border-top: 1px solid #534545;
  overflow: visible;
  text-align: center;
  width: 60vw;

  @media only screen and (min-width: 1280px) {
    width: 30vw;
  }
}

.additionalPageshr::after {
  background: var(--main);
  content: url("../public/images/diamondDecoration.svg");
  position: relative;
  top: -11px;
  padding: 0 1rem;
}

dialog {
  border: none;
  box-shadow: 0px 4px 4px rgba(76, 75, 75, 0.6);
  align-self: baseline;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.closeCross {
  background-color: transparent; /* Makes the background fully transparent */
  border: none; /* Removes the default border */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  font: inherit; /* Inherits font styles from its parent element */
  color: inherit; /* Inherits text color from its parent element */
  cursor: pointer; /* Ensures the cursor changes to a pointer on hover */
  outline: none; /* Removes the outline that appears on focus in some browsers */
  appearance: none; /* Resets platform-native styling for UI widgets */
  -webkit-appearance: none; /* For WebKit browsers */
  -moz-appearance: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}

li {
  text-align: left;
  white-space: pre-wrap;
  margin-left: 1rem;
}

::selection {
  background-color: #8a6966a9;
  color: white;
}
