:root {
  --main: #FDFAF3;
}

* {
  color: #282E3C;
  font-family: 'Manrope', sans-serif;
}

*, *::before, *,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    text-align: center;
  }

body {
  background: var(--main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 20px;
}

html body p {
    font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 650px) {
    flex-direction: row;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonGen {
  background-color: #7D8FB5;
  padding: 8px 20px 8px 20px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px #6c7794;
  transition: 0.3s;
  font-weight: 500;
}

.buttonGen:hover{
  background-color: #456D8C;
}

.buttonGen:active {
  box-shadow: none;
  background-color: #324A5F;
}

.asterisk {
  color: red;
}

h1 {
  margin-top: 1rem;
}

h1::after{
  content: url("../public/images/divider.svg");
  display: block;
  margin-top: -20px;
}

.diamondhr {
  border: none;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-bottom: 0.5lh;
}

.diamondhr::after {
  background: #fff;
  content: url("../public/images/diamondDecoration.svg");
  padding: 0 4px;
  position: relative;
  top: -13px;
}

nav::before, nav::after {
  content: url("../public/images/diamondDecoration.svg");
  display: block;
}