:root {
  --main: #FDFAF3;
  --secondary: #404458;
  font-size: 20px;
}

* {
  color: #282E3C;
  font-family: 'Manrope', sans-serif;
}

*, *::before, *,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    text-align: center;
  }

html, body {
  scroll-behavior: smooth;
  min-width: 350px;
}

body {
  background: var(--main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body p {
    font-weight: 400;
    text-align: justify;
}

section {
  margin: 0 5%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.reverse-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (min-width: 1200px) {
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden {
  display: none;
}

.buttonGen {
  background-color: #7D8FB5;
  padding: 8px 20px 8px 20px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px #5054649f;
  transition: 0.3s;
  font-weight: 500;
  text-transform: uppercase;
  
   @media only screen and (min-width: 650px) {
    width: 20vw;
  }
}

.buttonGen:hover{
  background-color: #456D8C;
}

.buttonGen:active {
  box-shadow: none;
  background-color: #324A5F;
}

.asterisk {
  color: red;
}

h1 {
  margin-top: 1rem;
}

h2::before, h2::after {
  top: -0.7lh;
  border-bottom: 1px solid grey;
}

.diamondhr {
  border: none;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-bottom: 0.5lh;
}

.diamondhr::after {
  content: url("../public/images/diamondDecoration.svg");
}

.additionalPageshr {
    border: none;
    border-top: 1px solid #534545;
    overflow: visible;
    text-align: center;
    width: 60vw;

     @media only screen and (min-width: 1280px) {
        width: 30vw;
     }
}

.additionalPageshr::after {
  background: var(--main);
  content: url("../public/images/diamondDecoration.svg");
  position: relative;
  top: -11px;
  padding: 0 1rem;
}

dialog {
  border: none;
  box-shadow: 0px 4px 4px rgba(76, 75, 75, 0.6);
  align-self: baseline;
}

.dialog::backdrop {
    background-color: rgb(0 0 0 / 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.closeCross {
    background-color: transparent; /* Makes the background fully transparent */
    border: none; /* Removes the default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font styles from its parent element */
    color: inherit; /* Inherits text color from its parent element */
    cursor: pointer; /* Ensures the cursor changes to a pointer on hover */
    outline: none; /* Removes the outline that appears on focus in some browsers */
    appearance: none; /* Resets platform-native styling for UI widgets */
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none;
}

body:has(dialog[open]) {
    overflow: hidden
}