.readFeedback p {
    color: #DD9859;
}

#contactsContainer {
    padding: 5vw;
}

.info, form {
    gap: 0.35lh;
    align-items: self-start;
    width: 100%;
    margin-bottom: 2lh;
}

.info, .formDiv {
    @media (min-width: 650px) {
            width: 50%;
}}

.info > div {
    gap: 1rem;
}

input, textarea, select {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #112134;
    height: 1.5lh;

    @media (min-width: 650px) {
        width: 75%;
    }
}

textarea {
    height: 5lh;
}

label {
    width: 75%;
    text-align: left;
    padding-left: 1rem;
}

input, textarea, select, option, input::placeholder, 
textarea::placeholder{
    text-align: left;
    padding: 1rem;
}

.disclaimer {
    font-size: small;
    width: 75%;
}

.disclaimer, .formDiv p {
    text-align: left;
}

.disclaimer a {
    color: #456D8C;
    text-decoration: underline;
    margin: 0 0;
}

.submitButton {
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.submitButton span {
    color: white;
    display: block;
    margin: 0 0.7rem;
    transition: all 0.3s ease-in-out;
}

.submitButton svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.submitButton:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submitButton:hover .svg-wrapper {
  animation: hop 0.6s ease-in-out infinite alternate;
}

.submitButton:active {
  transform: scale(0.95);
}

@keyframes fly {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(20em);
    }
}

@keyframes hop {
  from {
    transform: translateY(0.1em);
  }
  
  to {
    transform: translateY(-0.1em);
  }
}