.readFeedback p {
    color: #DD9859;
}

#contactsContainer {
    padding: 5vw;
}

.info, form {
    gap: 0.35lh;
    align-items: self-start;
    width: 100%;
    margin-bottom: 2lh;
}

.info, .formDiv {
    @media (min-width: 650px) {
            width: 50%;
}}

.info > div {
    gap: 1rem;
}

input, textarea, select {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #112134;
    height: 1.5lh;

    @media (min-width: 650px) {
        width: 75%;
    }
}

textarea {
    height: 5lh;
}

label {
    width: 75%;
    text-align: left;
    padding-left: 1rem;
}

input, textarea, select, option, input::placeholder, 
textarea::placeholder{
    text-align: left;
    padding: 1rem;
}

.disclaimer {
    font-size: small;
    width: 75%;
}

.disclaimer, .formDiv p {
    text-align: left;
}

.disclaimer a {
    color: #456D8C;
    text-decoration: underline;
    margin: 0 0;
}

