.readFeedback p {
  color: #dd9859;
}

#contacts {
  padding: 0rem;
}

#contactsContainer {
  padding: 1vw;
  justify-content: space-between;

  @media (min-width: 1200px) {
    gap: 1rem;
  }
}

.phone-info:hover a,
.mail-info:hover a {
  color: royalblue;
}

.info,
form {
  font-size: x-large;
}

form {
  width: 100%;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .formDiv p {
    width: 80%;
  }
  .formDiv h2 {
    margin-top: 0.5lh;
  }
  .info {
    font-size: large;
  }
}

.info div {
  gap: 1rem;
}

input,
textarea,
select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #112134;
  height: 1.5lh;
}

textarea {
  height: 5lh;
}

label {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
}

input,
textarea,
select,
option,
input::placeholder,
textarea::placeholder {
  text-align: left;
  padding: 0.75rem;
  font-size: 1rem;

  @media (max-width: 1200px) {
    font-size: 0.9rem;
  }
}

select {
  padding: 0 0.5rem;
}

small,
.formDiv p {
  text-align: left;
}

.disclaimer a {
  color: #456d8c;
  text-decoration: underline;
  margin: 0 0;
}

.submitButton {
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  padding: 1em;
  padding-left: 0.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1lh 0;

  width: clamp(200px, 50%, 400px);
}

.submitButton span {
  color: white;
  display: block;
  margin: 0 0.7rem;
  transition: all 0.3s ease-in-out;
}

.submitButton svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.submitButton:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submitButton:hover .svg-wrapper {
  animation: hop 0.6s ease-in-out infinite alternate;
}

.submitButton:active {
  transform: scale(0.95);
}

small {
  font-size: medium;
  width: 75%;
  margin-top: 0.2rem;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

@keyframes fly {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(20em);
  }
}

@keyframes hop {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
