.dot {
  display: block;
  margin: 5px;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  float: left;
}

.activeDot {
  background-color: rgb(112, 134, 200);
}

.inactiveDot {
  background-color: var(--main);
}
